<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SSE</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="js/vendor/fancyBox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <header id="topo">
            <div class="container">
                <div class="row">
                    <h1 id="logo" class="col-lg-4">
                        <a href="index.html">
                            <img class="img-responsive" src="img/logo.png" alt="SSE"/>
                        </a>
                    </h1>
                    <div class="col-lg-8">
                        <div class="idioma-topo text-right">
                            <span>idioma</span>
                            <a href="#">
                                <img src="img/bandeira-brasil.png" alt="br"/>
                            </a>
                            <a href="#">
                                <img src="img/bandeira-usa.png" alt="us"/>
                            </a>
                        </div>
                        <nav class="menu pull-right">
                            <ul>
                                <li>
                                    <a href="aempresa.html" title="A Empresa">A Empresa</a>
                                </li>
                                <li>
                                    <a href="servicos.html" title="Serviços">Serviços</a>
                                </li>
                                <li>
                                    <a href="produtos.html" title="Produtos">Produtos</a>
                                </li>
                                <li>
                                    <a href="trabalhe.html" title="Trabalhe Conosco">Trabalhe Conosco</a>
                                </li>
                                <li>
                                    <a href="localizacao.html" title="Localização">Localização</a>
                                </li>
                                <li>
                                    <a class="no-margin" href="contato.html" title="Contatos">Contatos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section id="banner" style="background: url('img/bg-banner.png') no-repeat center top;">
            <div class="container">
                <div class="item" id="banner-1" data-bg="url('img/bg-banner.png') no-repeat center top" data-href="servicos.html">
                    <p class="titulo">Serviços e Treinamentos</p>
                </div>
                <div class="item" id="banner-2" data-bg="url('img/bg-banner2.png') no-repeat center top" data-href="produtos.html">
                    <p class="titulo">Produtos</p>
                </div>
                <div class="item" id="banner-3" data-bg="url('img/bg-banner3.png') no-repeat center top" data-href="produtos.html">
                    <p class="titulo">Desenvolvimento e Engenharia</p>
                </div>
                <div id="bt-banner"></div>
                <a class="voltar" href="#"><img src="img/bt-voltar-banner.png" alt="voltar"/></a>
                <a class="avancar" href="#"><img src="img/bt-avanca-banner.png" alt="avançar"/></a>
            </div>
        </section>
        <section id="box-sistemas">
            <div class="container">
                <h2 class="titulo">Sírio Sistemas Eletrônicos</h2>
                <div class="texto">
                    <p>Fornecemos soluções e serviços modernos para indústria de energia.</p>
                    <a class="link" href="aempresa.html">| + | Conheça a empresa</a>
                </div>
                <span class="sobrepor"></span>
            </div>
        </section>
        <section id="box-solucoes">
            <div class="container">
                <div class="bg-titulo">
                    <h3 class="titulo">Nossas Soluções</h3>
                </div>
                <div class="row">
                    <ul>
                        <li class="col-lg-4">
                            <a class="img" href="servicos.html">
                                <img src="img/img-box-solucao1.png" alt="img"/>
                                <span>Serviços e Treinamentos</span>
                            </a>
                            <p class="texto">A prioridade inicial é tornar a instalação totalmente operativa. Isso significa instalar, comissionar e inicializar a instalação no menor tempo possível, reduzindo, assim, a perda de produção e o custo do investimento.</p>
                            <a class="link" href="servicos.html">
                                <img src="img/bt-saiba-mais.png" alt="saiba mais"/>
                            </a>
                        </li>
                        <li class="col-lg-4">
                            <a class="img" href="produtos.html">
                                <img src="img/img-box-solucao2.png" alt="img"/>
                                <span>Produtos</span>
                            </a>
                            <p class="texto">A prioridade inicial é tornar a instalação totalmente operativa. Isso significa instalar, comissionar e inicializar a instalação no menor tempo possível, reduzindo, assim, a perda de produção e o custo do investimento.</p>
                            <a class="link" href="produtos.html">
                                <img src="img/bt-saiba-mais.png" alt="saiba mais"/>
                            </a>
                        </li>
                        <li class="col-lg-4">
                            <a class="img" href="produtos.html">
                                <img src="img/img-box-solucao3.png" alt="img"/>
                                <span>Desenvolvimento e Engenharia</span>
                            </a>
                            <p class="texto">A prioridade inicial é tornar a instalação totalmente operativa. Isso significa instalar, comissionar e inicializar a instalação no menor tempo possível, reduzindo, assim, a perda de produção e o custo do investimento.</p>
                            <a class="link" href="produtos.html">
                                <img src="img/bt-saiba-mais.png" alt="saiba mais"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="box-missao">
            <div class="container">
                <div class="bg-titulo">
                    <h4 class="titulo">Nossa Missão</h4>
                </div>
                <p class="texto">Desenhar, desenvolver, fabricar, instalar e comissionar sistemas de supervisão e controle para óleo e gás e indústrias de geração de energia, automobilísticas, bebidas, etc. Principal foco em equipamentos rotativos (turbinas a gás e vapor, centrífugas & reciprocating compressors, bombas, motores e geradores elétricos) para Extração de Gás, compressão e usinas de reinjeção. Usinas de bombeamento e extração de óleo. Usinas de pré-geração e geração de energia. Especializada em PLC mais utilizados no Mercado atual e sistemas dedicados de controle de turbinas. </p>
            </div>
        </section>
        <footer id="rodape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="index.html" title="SSE">
                            <img src="img/logo-rodape.png" alt="SSE"/>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <p class="copy">Todos os direitos reservados</p>
                    </div>
                    <div class="col-lg-2">
                        <a class="social face" href="#" target="_blank"></a>
                        <a class="social in" href="https://br.linkedin.com/company/sse-sirio-sistemas-eletr-nicos-ltda" target="_blank"></a>
                    </div>
                    <div class="col-lg-2">
                        <a class="rina" href="#" target="_blank">
                            <img src="img/img-rina.png" alt="rina"/>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <p class="desenvolvido">Produzido por <a href="http://www.kbrtec.com.br" target="_blank">KBRTEC</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="js/vendor/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <script src="js/main.js"></script>

    </body>
</html>
