<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SSE</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="js/vendor/fancyBox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <header id="topo">
            <div class="container">
                <div class="row">
                    <h1 id="logo" class="col-lg-4">
                        <a href="index.html">
                            <img class="img-responsive" src="img/logo.png" alt="SSE"/>
                        </a>
                    </h1>
                    <div class="col-lg-8">
                        <div class="idioma-topo text-right">
                            <span>idioma</span>
                            <a href="#">
                                <img src="img/bandeira-brasil.png" alt="br"/>
                            </a>
                            <a href="#">
                                <img src="img/bandeira-usa.png" alt="us"/>
                            </a>
                        </div>
                        <nav class="menu pull-right">
                            <ul>
                                <li>
                                    <a href="aempresa.html" title="A Empresa">A Empresa</a>
                                </li>
                                <li>
                                    <a class="ativo" href="servicos.html" title="Serviços">Serviços</a>
                                </li>
                                <li>
                                    <a href="produtos.html" title="Produtos">Produtos</a>
                                </li>
                                <li>
                                    <a href="trabalhe.html" title="Trabalhe Conosco">Trabalhe Conosco</a>
                                </li>
                                <li>
                                    <a href="localizacao.html" title="Localização">Localização</a>
                                </li>
                                <li>
                                    <a class="no-margin" href="contato.html" title="Contatos">Contatos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section id="page-listagem">
            <header class="topo">
                <div class="container">
                    <nav class="breadcrumb">
                        <ul>
                            <li>Você está em:</li>
                            <li><a href="index.html" title="Home">Home</a></li>
                            <li> | <a href="servicos.html" title="Serviços">Serviços</a></li>
                        </ul>
                    </nav>
                    <h1 class="titulo">Serviços</h1>
                </div>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="titulo-servico">Assistência Técnica, Pesquisa e Solução de Problemas</h2>
                        <div class="descricao-servico">
                            <p>Todos os veículos da frota são equipados com um dispositivo (UVE - Unidade de Veículo) interligado ao hodômetro ao bocal do tanque. Os postos, por sua vez, são dotados de unidades controladoras interligadas aos bicos das bombas onde são instaladas antenas e um sistema de envio de dados. Quando um veículo credenciado posiciona-se para o abastecimento, sua UVE automaticamente se identifica com a antena do bico da bomba. No momento do abastecimento, a antena registra na unidade controladora do posto todas as informações sobre o abastecimento (veículo, quilometragem, combustível, litragem, valor). </p>
                            <p>Quando o bico da bomba é afastado, automaticamente a comunicação é interrompida e o motorista pode seguir viagem sem ter que preencher ou assinar qualquer documento. Os dados coletados pela antena da bomba são armazenados na unidade computadorizada do posto que, ao final do dia, os envia, através da Internet, para uma central de processamento de dados. </p>
                            <p>Posteriormente o posto envia por correio a nota fiscal para a frota. Todas as informações coletadas podem ser consultadas via Internet, no site do Bradesco. O banco de dados é atualizado diariamente.</p>
                        </div>
                        <a class="link-descricao-servico" href="contato.html">
                            <img src="img/bt-contato-sse.jpg" alt="contato"/>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <aside class="veja-servico">
                            <h3 class="titulo">Veja também</h3>
                            <a href="servico-comissionamento.html">Comissionamento e Partida de Unidades e Sistemas de Controle</a>
                            <a href="servico-operacao.html">Operação e Manutenção</a>
                            <a href="servico-consultoria.html">Consultoria para Melhoria de Eficiência e Otimização de Máquinas</a>
                            <a href="servico-treinamentos.html">Treinamentos em Operação e Manutenção de Máquinas e Sistemas de Controle</a>
                        </aside>
                    </div>
                </div>

            </div>
        </section>
        <footer id="rodape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="index.html" title="SSE">
                            <img src="img/logo-rodape.png" alt="SSE"/>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <p class="copy">Todos os direitos reservados</p>
                    </div>
                    <div class="col-lg-2">
                        <a class="social face" href="#" target="_blank"></a>
                        <a class="social in" href="https://br.linkedin.com/company/sse-sirio-sistemas-eletr-nicos-ltda" target="_blank"></a>
                    </div>
                    <div class="col-lg-2">
                        <a class="rina" href="#" target="_blank">
                            <img src="img/img-rina.png" alt="rina"/>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <p class="desenvolvido">Produzido por <a href="http://www.kbrtec.com.br" target="_blank">KBRTEC</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="js/vendor/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <script src="js/main.js"></script>

    </body>
</html>
